
.breakfast{
    background-color:rgba(179, 235, 179, 0.1);
    border-radius: 5px;
}
.breakfast a{
    color: rgb(85, 85, 85);
    text-decoration: none;
}
.breakfast:hover{
    box-shadow: 2px 3px 20px 0px rgb(167, 167, 167);
    border-radius: 10px;
    background-color: rgba(179, 235, 179, 0.2);
}
.breakfast:hover .catagory{
    visibility: visible;
}
.catagory{
    visibility: hidden;
    background-color: green;
    color: whitesmoke;
    font-weight: 400;
    border-radius: 50px;
    padding: 10px;
}